<div class="step_content">
    <div class="step" (click)="setStep(1)" [class.selected]="genservice.currStep === 1"> <i class="glyphicon glyphicon-folder-open"></i></div>
    <div class="step"(click)="setStep(2)"[class.selected]="genservice.currStep === 2"> <i class="glyphicon glyphicon-pencil"></i></div>
    <div class="step"(click)="setStep(3)"[class.selected]="genservice.currStep === 3"> <i class="glyphicon glyphicon-picture"></i></div>
    <div class="step"(click)="setStep(4)"[class.selected]="genservice.currStep === 4">  <i class="glyphicon glyphicon-ok"></i></div>
</div>
<div >
    <ng-content></ng-content>
  </div>

  <div class="buttondiv">
  <ng-container *ngIf="genservice.currStep>1">
    <button class="navigation_button" (click)="prev()">Previous</button>
  </ng-container>
  <ng-container *ngIf="genservice.currStep==3">
    <button class="navigation_button" (click)="next()">skip</button>
  </ng-container>

  <ng-container *ngIf="genservice.currStep!=4">
    <button class="navigation_button" (click)="next()">Save and continue</button>
  </ng-container>
</div>
