
.step_content {
    display: flex;
    height: 90px;
    justify-content: space-around;
    margin-bottom: 20px;
    background-color: yellow;
  }
  
  .step {
    width: 50px;
    height: 50px;
    margin-top: 20px;
    background-color: white;
    color:  #0d5e95;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    cursor: pointer;
  }
  
  .step:hover {
    background-color:#59b9f9 ;
  }
  
  .step.selected {
    background-color: #59b9f9 ;
    color: #fff; 
}
  .buttondiv {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }
  
 
  .navigation_button {
    padding: 10px;
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
 
  .navigation_button:hover {
    background-color: #2980b9;
  }